{% extends "find/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-8">Customer Registration</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block tabela %}
    <div class="form-row">
        <table class="table-xsm table-bordered">
          {% if tab_len > 0  %}
          <thead class="thead-dark">
          <tr>
            <th>PER_GID</th>
            <th>TITLE</th>
            <th>INITIAL</th>
            <th>FORENAME</th>
            <th>SURNAME</th>
            <th>STATUS</th>
            <th>GENDER</th>
            <th>CONTACT_TYPE</th>
            <th>CONTACT_VALUE</th>
            <th>POSTCODE</th>
            <th>ADDRESS_LINE1</th>
            <th>ADDRESS_LINE2</th>
          </tr>
          </thead>
          {% endif %}
          {% for row in table %}
          <tbody>
          <tr>
            <td>{{ row.PER_GID }}</td>
            <td>{{ row.TITLE }}</td>
            <td>{{ row.INITIAL }}</td>
            <td>{{ row.FORENAME }}</td>
            <td>{{ row.SURNAME }}</td>
            <td>{{ row.STATUS }}</td>
            <td>{{ row.GENDER }}</td>
            <td>{{ row.CONTACT_TYPE }}</td>
            <td>{{ row.CONTACT_VALUE }}</td>
            <td>{{ row.POSTCODE }}</td>
            <td>{{ row.ADDRESS_LINE1 }}</td>
            <td>{{ row.ADDRESS_LINE2 }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock tabela %}
